@keyframes ldio-t6jw9nqcnq {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-t6jw9nqcnq div { box-sizing: border-box!important }
.ldio-t6jw9nqcnq > div {
  position: absolute;
  width: 92.59px;
  height: 92.59px;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  border-radius: 50%;
  border: 9.85px solid #000;
  border-color: #222222 transparent #222222 transparent;
  animation: ldio-t6jw9nqcnq 0.6134969325153374s linear infinite;
}
.ldio-t6jw9nqcnq > div:nth-child(2) { border-color: transparent }
.ldio-t6jw9nqcnq > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-t6jw9nqcnq > div:nth-child(2) div:before, .ldio-t6jw9nqcnq > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 9.85px;
  height: 9.85px;
  top: -9.85px;
  left: 31.52px;
  background: #222222;
  border-radius: 50%;
  box-shadow: 0 82.74px 0 0 #222222;
}
.ldio-t6jw9nqcnq > div:nth-child(2) div:after { 
  left: -9.85px;
  top: 31.52px;
  box-shadow: 82.74px 0 0 0 #222222;
}
.loadingio-spinner-dual-ring-1fdhfj3029l {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  background: #ffffff86;
}
.ldio-t6jw9nqcnq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-t6jw9nqcnq div { box-sizing: content-box; }